{
 "presets": [
    [
      "env",
      {
        "modules": "commonjs"
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    [
      "emotion/babel",
      { "inline": true }
    ]
  ]
}